.buttons__button--increment, .buttons__button--decrement {
    padding: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 10px;
    border: none;
    background-color: #e7e300;
    color: #424242;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 4px;
    box-shadow: 0 0 9px #1a1733;
}

.buttons__button--increment:hover,
.buttons__button--decrement:hover {
    transition-duration: 300ms;
    background-color: #fffb00;
}